
run = "npm run dev"
modules = ["nodejs-20"]

[nix]
channel = "stable-24_05"

[deployment]
deploymentTarget = "static"
publicDir = "dist"
buildCommand = "npm run build"

[[ports]]
localPort = 5000
externalPort = 80

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 37176675
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"

[[deployment.rules]]
staticPath = "/"
urlPath = "/"

[[deployment.rules]]
staticPath = "/assets"
urlPath = "/assets"

[[deployment.rules]]
staticPath = "/src"
urlPath = "/src"

[[deployment.rewrites]]
from = "/*"
to = "/index.html"
